
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../europe-minesweeper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    height: 50px;
    width: 50px;
    background-color: beige;
    margin: 5px 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}
div:hover {
    background: LightCoral;
    cursor: pointer;
}
main {
    margin: 10px 0px 10px 0px;
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 280px;
    padding-bottom: 5px;
    position: relative;
}
option {
    border-radius: 10%;
}
option:hover {
    cursor: pointer;
    background-color: violet;
}
section {
    padding-bottom: 5px;
    margin: 10px 0px 10px 0px;
    position: absolute;
}
summary {
    margin-top: 10px;
    height: 200px;
    width: 500px;
    background-color: grey;
    border: 10px solid lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
button{
    width: 100px;
    margin-top: 10px;
    background-color: lightcoral;
}
button:hover {
    cursor: pointer;
    background-color: violet;
}
select {
    background-color: lightcoral;
    width: 100px;
}
select:hover {
    cursor: pointer;
    background-color: violet;
}
p {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 900;
    border: 1px solid black;
    margin: 1px;
}
article {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
div {
    display: flex;
    justify-content: center;
}